<footer class="bg-primary -diag-top" role="contentinfo">

    <div class="hero-content text-center pad--h pad--v__xl pos--center">

        <h1 class="pad--t">
            Let's build remarkable things
        </h1>
        <button class="btn-secondary mar--r__xs">
            Start a Project
        </button>
        <button class="btn-primary mar--l__xs">
            Talk to Us
        </button>

        <div class="mar--t__lg">
            <p class="text-center">
                <a href="http://theidea.io">TheIdea</a> is a small development agency based in Montreal, Quebec.
                We work with startups, small businesses, and people with ideas to build remarkable digital products.
            </p>
        </div>

        {% include social-logos.html %}

    </div>

</footer>

<!-- Schema LDJSON -->
<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "http://schema.org/Organization",
      "name": "The Idea",
      "url": "http://theidea.io",
      "logo": "http://www.gohobo.co/assets/img/gohobo-logo.png",
      "sameAs" : [
          "https://www.facebook.com/Go-Hobo-649912611816927",
          "http://www.twitter.com/gohoboco",
          "https://www.instagram.com/gohobo.co"
      ]
    }
</script>

</body>
</html>