<footer class="bg-primary -diag-top" role="contentinfo">

    <div class="hero-content text-center pad--h pad--v__xl pos--center">

        <h1 class="pad--t">
            Let's build remarkable things
        </h1>
        <button class="btn-secondary mar--r__xs" data-trigger-messenger>
            Start a project
        </button>
        <button class="btn-primary mar--l__xs" data-trigger-messenger>
            Chat with us
        </button>

        <div class="mar--t__lg">
            <p class="text-center">
                <a href="http://theidea.io">TheIdea</a> is a small development agency based in Montreal, Quebec.
                We work with startups, small businesses, and people with ideas to build remarkable digital products.
            </p>
        </div>

        {% include social-logos.html %}

    </div>

</footer>

<!-- Schema LDJSON -->
<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "http://schema.org/Organization",
      "name": "The Idea",
      "url": "http://theidea.io",
      "logo": "http://www.gohobo.co/assets/img/gohobo-logo.png",
      "sameAs" : [
          "https://www.facebook.com/Go-Hobo-649912611816927",
          "http://www.twitter.com/gohoboco",
          "https://www.instagram.com/gohobo.co"
      ]
    }
</script>


<script src="https://cdn.smooch.io/smooch.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function(){ 
    
        Smooch.init({ 
            appToken: '50emn2v6jglh2frqqh9ru137h',
            customText: {
                headerText: 'Let\'s talk about your idea.',
                introductionText: 'What can we help you build?'
            }
        });

        var msgBtn = document.querySelectorAll('[data-trigger-messenger]');

        for ( var i = 0; msgBtn.length > i; i++ ) {

            msgBtn[i].addEventListener('click', function(e) {
               Smooch.open();
               
            });

        }

    }, false);
</script>

<!-- The Google Analytics -->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-88736346-1', 'auto');
    ga('send', 'pageview');
</script>

</body>
</html>