<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="{{ site.env_url }}/favicon.png" rel="shortcut icon">
    
    <title>The Idea</title>

    <link rel="stylesheet" href="{{ site.env_url }}/assets/css/main.css">

    <script type="text/javascript" defer>window.$crisp = []; window.CRISP_WEBSITE_ID = "444d415c-4c70-4bc1-b192-80775f4d8338"; (function () { d = document; s = d.createElement("script"); s.src = "https://client.crisp.chat/l.js"; s.async = 1; d.getElementsByTagName("head")[0].appendChild(s); })();</script>

    <script src="{{ site.env_url }}/assets/js/app.js" defer></script>

</head>
<body>