<section class="container-xl pad--v__xl bg-spots">

    <div class="container-text" id="portfolio">
        <h2>Things we've done</h2>
    </div>

    <div class="row row-around pad--b__xl align-start">

        {% for project in site.data.projects %}
        <div class="product-card -has-thumb">
            <figure class="product-card-thumb">
                <img src="{{ project.thumb }}" 
                     srcset="{{ project.thumb }} 1x, {{ project.thumb | replace: '.jpg', '@2x.jpg' }} 2x"
                     alt="{{ project.name }}">
            </figure>
            <div class="product-card-meta">
                <h4 class="product-card-meta-title">
                    {{ project.name }}
                </h4>
                <label class="project-card-meta-desc">
                    {{ project.desc }}
                </label>
                <a href="{{ project.url }}">
                    <button class="btn-clear">
                        Check it out
                    </button>
                </a>    
            </div>
        </div>
        {% endfor %}

    </div>

</section>