<h2>
    Websites we build are...
</h2>

<div class="container-text row mar--b__lg">
    <h3>
        <img class="col-20" style="max-width:1.25em;" src="{{site.url}}/assets/img/icon-deliver.svg" alt="">
        Remarkable
    </h3>
    <p>
        Build things that your users will want to talk about. With clear communication and user-centric designs, we can help people see your idea for what it really is: remarkable. 
    </p>
</div>

<div class="container-text pos--r row mar--b__lg">
    <h3>
        <img class="col-20" style="max-width:1.25em;" src="{{site.url}}/assets/img/icon-deliver.svg" alt="">
        Responsive
    </h3>
    <p>
        Every piece of code we write will work across all popular modern devices. We guarantee it. That means you can reach people across mobile, desktop, tablet, and even TV.
    </p>
</div>

<div class="container-text row mar--b__lg">
    <h3>
        <img class="col-20" style="max-width:1.25em;" src="{{site.url}}/assets/img/icon-deliver.svg" alt="">
        Optimized
    </h3>
    <p>
        Search engines love well-structured content. We provide that through modern information-architecture techniques, rich data markup, and semantic HTML; providing you with a search-engine-optimized (SEO), accessible website that everyone can enjoy.
    </p>
</div>