<section class="pad--v__xl">

    <div class="row align-start pos--center">

        <h2 class="row">
            Our process
        </h2>

        <div class="row align-center container-text mar--b__lg">
            <img class="col-20" style="max-width:20em;" src="{{site.url}}/assets/img/icon-research.svg" alt="">
            <div class="col-80 pad--h">
                <h4>Research</h4>
                <p>
                    We'll work with you to gather every detail we can about your project - until we both feel confident your business goals are fully understood.  
                </p>
            </div>
        </div>

        <div class="row align-center container-text mar--b__lg pos--r">
            <img class="col-20" style="max-width:20em;" src="{{site.url}}/assets/img/icon-design.svg" alt="">
            <div class="col-80 pad--h">
                <h4>Design</h4>
                <p>
                    Product people, graphics wizards, user-interface architects, typographic wonders. Our design team is stacked with experienced folks.
                </p>
            </div>
        </div>

        <div class="row align-center container-text mar--b__lg">
            <img class="col-20" style="max-width:20em;" src="{{site.url}}/assets/img/icon-build.svg" alt="">
            <div class="col-80 pad--h">
                <h4>Build</h4>
                <p>
                    Our dev team has more than 20 years of development experience - across multiple disciplines. We are clean, maintainable, performant code. 
                </p>
            </div>
        </div>
        
        <div class="row align-center container-text mar--b__lg pos--r">
            <img class="col-20" style="max-width:20em;" src="{{site.url}}/assets/img/icon-test.svg" alt="">
            <div class="col-80 pad--h">
                <h4>Test</h4>
                <p>
                    Chances are good that before you've seen any of our prototypes, we've tested to crap out of them. Code quality, accessibility, browsers &amp; devices.
                </p>       
            </div>
        </div>

        <div class="row align-center container-text mar--b__lg">
            <img class="col-20" style="max-width:20em;" src="{{site.url}}/assets/img/icon-deploy.svg" alt="">
            <div class="col-80 pad--h">
                <h4>Deploy</h4>
                <p>
                    Whether you're hosting or we're setting it up, our team is hip to modern hosting - apps or websites. Amazon S3, Google Cloud, Heroku, Geocities. 
                </p>
            </div>
        </div>

        <div class="row align-center container-text mar--b__lg pos--r">
            <img class="col-20" style="max-width:20em;" src="{{site.url}}/assets/img/icon-deliver.svg" alt="">
            <div class="col-80 pad--h">
                <h4>Deliver</h4>
                <p>
                    Of course once everything is said and done, you'll get everything we agreed upon. A remarkable new product (or website) - and the code that powers it. 
                </p>    
            </div>
        </div>

        </div>

    </div>

</section>