.hero-container {
    @include container-xl;

    display: flex;
    align-items: center;
    
    @include mq-md {
        flex-flow: row nowrap;
        justify-content: space-between;

        padding-top: 8em;
    }
    @include mq-sm {
        padding-top: 4.5em;
    }
}

    .hero-content {
        color: $color-white;
        @include mq-md {
            max-width: 36em;
        }
        @include mq-sm {
            h1 {
                margin-top: 0;
                font-size: 3em;
            }
        }
    }

        .hero-actions {
            @include mq-sm {
                text-align: center;
            }

            button + button  {
                margin-left: 1em;
            }
        }

    .hero-graphic {
        position: relative;

        padding-left: 1em;
        padding-right: 1em;

        margin-left: auto;
        margin-right: auto;

        text-align: center;

        @include mq-md {
            width: 46%;
            max-width: 37.5em;
            min-width: 21em;
        }
        @include mq-sm {
            display: none;
        }

    }