// Imagine you could add a single PRIMARY or THEME color, 
//    and through SASS functions, we could create an appropriate palette for the
//    - http://sass-lang.com/documentation/Sass/Script/Functions.html

$color-primary:         #2251F3;//#0F7EE4;
$color-primary-light:   #22B5F3;
$color-primary-lighter: lighten($color-primary, 45%);

$color-secondary:   #00EDAF;

$color-white:       #fff;
$color-black:       #111;
$color-dark:        darken($color-primary, 32%);

$color-gray-500: mix( desaturate($color-primary, 65%), $color-black, 35% );
$color-gray-400: lighten($color-gray-500, 25%);
$color-gray-300: lighten($color-gray-400, 25%);
$color-gray-200: lighten($color-gray-300, 22%);

$gradient-primary: linear-gradient(-135deg, $color-secondary, $color-primary);