@font-face {
    font-family: 'Azerty Bold';
    src: url(../fonts/Azerty-Bold.woff);
}
@font-face {
    font-family: 'Azerty Regular';
    src: url(../fonts/Azerty-Regular.woff);
}
@font-face {
    font-family: 'Azerty Semi';
    src: url(../fonts/Azerty-SemiBold.woff);
}