// Product Cards -------

.product-card {
    position: relative;

    width: 17.5em;
    height: 20.5em;

    padding-top: 2em;

    margin-top: 1em;
    margin-bottom: 1em;

    @include mq-sm {
        margin-left: auto;
        margin-right: auto;
    }

    &:not(.-has-thumb) {
        border: 1px solid transparent;
    }

    border-radius: 0.2em;

    background-color: $color-white;
    box-shadow: $box-shadow-sm;

    text-align: center;

    &.-has-thumb {
        padding-top: 0;
        height: auto;
    }


    svg {
        height: 10em;
    }
}

    .product-card-meta {
        text-align: center;

        padding-left: 1em;
        padding-right: 1em;

        @include mq-md {
            padding-top: 1.2em;
            padding-bottom: 1.2em;
        }
        @include mq-sm {
            padding-top: 1em;
            padding-bottom: 1em;
        }
    }

        .product-card-meta-title {
            margin: 0;
        }

        .project-card-meta-desc {
            display: block;

            padding-top: 1em;
            padding-bottom: 1em;

            text-align: left;
        }

            .-has-thumb .project-card-meta-desc {
                text-align: left;
            }



// Hover State
.product-card:hover {
    border-color: $color-primary;

    .product-card-meta-title {
        color: $color-dark;
    }

    .btn {
        color: $color-primary;
    }

    .svg-bg {
        fill: $color-white;
        stroke: $color-primary;
    }

    .svg-frame,
    .svg-frame--lg {
        fill: $color-primary;
        stroke: $color-white;
    }

    .svg-content {
        fill: $color-primary;
    }

    > * {
        z-index: $z-mid;
    }
}

// SVG Defaults --------

.svg-bg {
    fill: #fff;
    stroke: $color-gray-300;
    stroke-width: 8;

    transition: 0.3s ease-out;
}

.svg-frame {
    fill: $color-gray-200;
    stroke: $color-gray-300;
    stroke-width: 10;

    transition: 0.3s ease-out;
}

.svg-stroke {
    stroke: $color-dark;
}

.svg-stroke--light {
    stroke: $color-white;
}

.svg-frame--lg { // For some reason, certain strokes are doubling
    fill: $color-gray-200;
    stroke: $color-gray-300;
    stroke-width: 5;

    transition: 0.3s ease-out;
}

.svg-content {
    fill: $color-gray-200;

    transition: 0.3s ease-out;
}